<template>
    <div class="wrapper  rounded bg-white shadow rounded">
        <nav class="w-100 flex flex-col md:flex-row bg-blue-500 md:bg-blue-900 items-center md:items-baseline justify-start md:justify-between">
            <div class="flex text-2xl text-white p-8">
                Logo
            </div>
            <div class="flex md:ml-auto">
                <a href="#" class="nav-link">
                    Link 1
                </a>
                <a href="#" class="nav-link">
                    Link 2
                </a>
                <a href="#" class="nav-link">
                    Link 3
                </a>
            </div>
        </nav>

        <section class=" bg-red-600 py-16 md:py-40 px-3 md:px-0 flex flex-col items-center justify-center ">
            <div class="text-left md:text-center text-white">
                <h1 class="text-3xl md:text-6xl uppercase mb-4 sm:mb-12 font-black">Some Text</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque corporis cumque dolore excepturi
                    exercitationem iure maiores non nostrum nulla rerum? Aliquid atque consequatur delectus ipsa laborum
                    natus provident quae repellendus?
                </p>
            </div>
        </section>

        <section class="bg-white py-16 md:py-32 px-3 md:px-0 f md:w-8/12 mx-auto">
            <h2 class="text-center text-4xl mb-4 font-bold w-full ">Plans</h2>
            <div class="flex flex-col md:flex-row w-full  flex-no-wrap">
                <div class="w-full md:w-1/3 border rounded mb-4 py-6 md:mr-4 md:mb-0 hover:bg-green-500 hover:text-white hover:cursor-pointer">
                    <h5 class="text-center text-2xl">Option #1</h5>
                    <hr class="my-4">
                    <ul class="list-disc pl-6">
                        <li>Benefit 1</li>
                        <li>Benefit 2</li>
                        <li>Benefit 3</li>
                    </ul>
                    <hr class="my-4">
                    <p class="text-center text-2xl"> Only <span class="text-3xl font-bold">$100</span></p>
                </div>
                <div class="w-full md:w-1/3 border rounded mb-4 py-6 md:mr-4 md:mb-0 hover:bg-blue-500 hover:text-white relative  hover:cursor-pointer">
                    <div class="absolute top-0  right-0 bg-gray-800 text-white py-1 px-6">
                        <span class="text-sm">Best value!</span>
                    </div>
                    <h5 class="text-center text-2xl">Option #2</h5>
                    <hr class="my-4">
                    <ul class="list-disc pl-6">
                        <li>Benefit 1</li>
                        <li>Benefit 2</li>
                        <li>Benefit 3</li>
                    </ul>
                    <hr class="my-4">
                    <p class="text-center text-2xl"> Only <span class="text-3xl font-bold">$200</span></p>
                </div>
                <div class="w-full md:w-1/3 border rounded mb-4 py-6 md:mr-4 md:mb-0 hover:bg-red-500 hover:text-white hover:cursor-pointer">
                    <h5 class="text-center text-2xl">Option #3</h5>
                    <hr class="my-4">
                    <ul class="list-disc pl-6">
                        <li>Benefit 1</li>
                        <li>Benefit 2</li>
                        <li>Benefit 3</li>
                    </ul>
                    <hr class="my-4">
                    <p class="text-center text-2xl"> Only <span class="text-3xl font-bold">$300</span></p>
                </div>
            </div>
        </section>
        <section class="bg-gray-300 py-16 md:py-32 px-3 md:px-0">
            <h2 class="text-center text-4xl mb-4 font-bold">Contact</h2>
            <form action="" class="w-11/12 md:w-6/12 mx-auto">
                <div class="mb-6">
                    <label class="text-xl">Name</label>
                    <input class="w-100 border border-blue-600 py-2 px-1 w-full rounded">
                </div>
                <div class="mb-6">
                    <label class="text-xl">Email</label>
                    <input class="w-100 border border-blue-600 py-2 px-1 w-full rounded">
                </div>
                <div class="mb-6">
                    <label class="text-xl">Message</label>
                    <textarea class="w-100 border border-blue-600 py-6 px-1 w-full rounded resize-vertical h-20"/>
                </div>
                <button class=" bg-blue-400 w-full rounded py-4 text-white hover:bg-blue-700">Submit!</button>
            </form>
        </section>

        <footer class="bg-gray-700 text-center py-8 px-3">
            <p class="text-white text-sm ">Vladut-Florin Muresan's awesome tailwindcss presentation, 2020! <span
                    class="text-xs">(coronavirus free!)</span></p>
        </footer>
    </div>
</template>

<style>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;

    .nav-link {
        @apply text-white text-2xl mr-4;
    }

    .nav-link:hover {
        @apply text-red-700
    }
</style>

<script></script>
